:root {
    --blanco: #48CFAD;
    --oscuro: #f5f5f5;
    --primario: rgb(255, 131, 172);
    --secundario: #607D8B;
    --pastel:rgb(255, 234, 167) ;
}



html{
    font-size: 65.5%;
}
body{
    font-size: 16px; /* 1 rem = 10px */
    font-family: "Krub", sans-serif;
}


.titulo {
    text-align: center;
    font-size: 3.8rem;
}
.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
   margin: 0 auto;
}

.nav-bg {
    background-color: var(--primario);

}
.navegacion-principal {
}